<form id="companySettingsForm">
	<div class="subtitle"><span class="fasize"><i class="fa fa-cogs"></i></span> &nbsp;Ajustes</div>
	<label>Usuarios</label>
	<input type="text" value="{{Data.available_users}}" name="company[available_users]" class="form-control">	
	<input type="hidden" value="{{Data.id}}" name="company[id]">
</form>
<button type="button" class="btn" id="saveCompanySettings"> Guardar</button>