{% extends 'default.twig' %}
{% block content %}
    <!-- start main area -->
    <section id="mainArea">
        <div class="container">
            <div class="section-title"> Content Management System</div>
			<h3>Companies Slider</h3>
        </div>		
    </section>
    <!-- end main area -->
{% endblock %}