{% extends 'defaultAdmin.twig' %}
{% block content %}

    
    <div class="row padding-top ">

        <div class=" col-sm-3 col-md-2">
            {% include('sidebar.twig') %}
        </div>

        <div class="col-sm-9 col-md-10  padding-top" id="main-panel">

            {% include('notybanner.twig') %}

            <!--toggle sidebar button-->
            <p class="visible-xs">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i></button>
            </p>



            <h1>
                Dashboard :: <? print_r($_POST);  ?>
                
                
            </h1>
                
            <hr>
            <div class="col-md-12">
                <span class="push_left">
                    {% include('menubutton.twig') %}
                    {% include('menubutton.twig') %}
                    {% include('menubutton.twig') %}     
                    <input type="button" onclick="solicitud()" value="valor()"/>
                </span>
            </div>
            {% include('aform.twig') %} 
                
           
        </div>
    </div>

{% endblock %}