<style>
    .ui-widget { 
        z-index: 5000;
    }

</style>

<script>

    $(function () {
        var availableTags = [];
        var MIN_LENGTH = 0;

        $("#tags").on("keyup", function () {
            var keyword = $("#tags").val();
            if (keyword.length >= MIN_LENGTH) {
                $.post("/site/admin/availablecompanies", {name: keyword})
                        .done(function (data) {
                            var opciones = jQuery.parseJSON(data);
                            availableTags = opciones;

                            $("#tags").autocomplete(
                                    {
                                        source: availableTags,
                                        select: function (event, ui) {


                                            var idofitem = ui.item.id;
                                            var nameofitem = ui.item.label;

                                            $("#tags").val(nameofitem);
                                            $("#selecteduser").val(idofitem);
                                            $("#selecteduser").html(nameofitem);
                                            return false;
                                        }
                                    })
                                    .data('ui-autocomplete')._renderItem = function (ul, item) {
                                return $("<li></li>")
                                        .data("item.tags", item)
                                        .append("<span>" + item.label + " (" + item.id + ")</span>")
                                        .appendTo(ul);
                            };



                        });
            }
        });


    });
</script>



<form class="form-horizontal">

    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Titulo</label>
        <div class="col-sm-10 has-feedback">
            <input type="text" name="titulo" outsidename="title" class="form-control frequired ftosend" id="fvtitulo" placeholder="Titulo">
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        </div>
    </div>

    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Descripción</label>
        <div class="col-sm-10 has-feedback">
            <input type="text" name="descripcion" outsidename="description" class="form-control frequired ftosend" id="fvdescripcion" placeholder="Descripción">
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        </div>
    </div>


    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Compañia</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="tags" placeholder="Compañia">
        </div>
    </div>


    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Compañia Seleccionada</label>
        <div class="col-sm-10 has-feedback">
            <span type="text" name="Compañia Seleccionada" outsidename="company_id" class="form-control frequired ftosend" id="selecteduser" disabled ></span>
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>

        </div>
    </div>





    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Categoria</label>
        <div class="col-sm-10 has-feedback">
            <select outsidename="category_id" name="Categoria" class="frequired ftosend" id="furol">
                {% for category in Data.categories %}

                    <option value="{{ category.id }}">{{ category.name }}</option>

                {% endfor %}
            </select> 
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>

        </div>
    </div>


    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Video</label>

        <span class="btn btn-success fileinput-button col-sm-10 has-feedback">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Seleccionar Video...</span>
            <!-- The file input field used as target for the file upload widget -->
            <input id="fileupload" class="fileupload" type="file" name="files[]" multiple>

            <input outsidename="file_name" name="video" value="" class="frequired ftosend ffile" type="hidden" id="photoname" />
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        </span>

        <br/><br/>
        <div id="progress" class="progress">
            <div class="progress-bar progress-bar-success"></div>
        </div>

    </div>


</div>


</form>


<script src="{{ Core.Domains.theme }}mvc/views/admin/js/uploadfile.js"></script>