{% extends 'default.twig' %}
{% block content %}
<!-- start main area -->
<section id="mainArea">
    <div class="container">
        <div class="row">
            <div class="col-md-12" id="slider-wrapper">
                <div>
                    <span><a href="{{ Core.Domains.core }}web/admin/sliderManager">Admin slider</a></span><span>Admin ABC</span><span>Admin XYZ</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end main area -->
{% endblock %}