

<form id="office_cps">
    <input type="hidden" name="office_cps[id_office]" value="{{Data.id_office}}">
    <label class="btn"> <input type="checkbox" id="allCPS"/> Todos </label>
    <div id="list_cps">
    <table class="table table-striped table-bordered table-hover">	
	{% for item in Data.cps %}
	<tr>
		<td>
                    <input type="checkbox" {% if Data.id_office == item.office_id %}checked{% endif%} name="office_cps[cp][]" value="{{item.cp}}"> {{item.cp}} - {{item.delegation}}
		</td>
	</tr>
	{% endfor %}				
    </table>
</div>


    <div class="row">
        <div class="col-xs-9" id="msgSaveCPS">
        </div>
        <div class="col-xs-3 text-right">
            <button type="button" class="btn" id="save_office_cps">Guardar</button>
        </div>	
    </div>
</form>