{% extends 'default.twig' %}
{% block content %}
    <!-- start main area -->
    <section id="mainArea">
        <div class="container">
            <div class="section-title">
                Reportes
            </div>
        </div>
        <div class="container reportsmtop">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="spradmin">Reporte de Candidatos</h4>
                    <div align="center"><img src="{{ Core.Domains.theme }}images/report1.png"/></div>
                </div>
            </div>
            <div class="borderreports"></div>
        </div>
        <div class="container reportsmtop">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="spradmin">Reporte de Empleadores</h4>
                    <div align="center"><img src="{{ Core.Domains.theme }}images/report3.png"/></div>
                </div>
            </div>
            <div class="borderreports"></div>
        </div>
                <div class="container reportsmtop">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="spradmin">Reporte de Gobierno</h4>
                    <div align="center"><img src="{{ Core.Domains.theme }}images/report2.png"/></div>
                </div>
            </div>
            <div class="borderreports"></div>
        </div>
    </section>
    <!-- end main area -->
{% endblock %}