<h2>{{Data.inbox}}</h2>

<hr/>

<div class="fullw">
    <span class="pull-left a80">
        <input type="text" class="form-control " placeholder="Buscar">
    </span>

    <span class="pull-right a20">

        {% include('menubutton.twig') %}
        {% include('menubutton.twig') %}
    </span>

</div >


<div class="padding-top">
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>E-Mail</th>
            </tr>
        </thead>
        <tbody>
            {% for user in Data.users %}
                <tr>
                    <td>{{ user.name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="center">       

    {% include('pager.twig') %}
</div>