{% extends 'default.twig' %}
{% block content %}
    <!-- start main area -->
    <section id="mainArea">
        <div class="container">
            <!-- <div class="section-title"> Mi perfil </div> -->
			{{Data.profile|raw}}
        </div>		
    </section>
    <!-- end main area -->
{% endblock %}