{# <?php ?> #}
<!-- start main area -->
{{ View.CSS|raw }}
{{ View.JS|raw }}
<section id="messages" style="padding-top: 10px;">
	{% include 'messages.twig' with {'company':true, 'messages': Data.messages }%}
</section>