<div class="modal fade" id="adpempresa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Aviso de Privacidad</h4>
      </div>
      <div align="center" class="modal-body">
        <div class="terms">
            <p>
                Lorem ipsum dolor sit amet, virtute alterum ut sea, eos fabulas dolores gubergren ex. Sea amet essent lucilius eu. No eam meliore vituperata definitiones, pertinax accommodare in eum. Rebum singulis eam te, eos autem fastidii intellegam no. In amet fabulas voluptatum per, consetetur adversarium consectetuer usu te. Ridens tibique dissentias est ad, quis sensibus eam ei.
            </p>
            <p>
                Pri sint partem neglegentur an. Pro ex insolens praesent. Duo te lorem mnesarchum. No idque solet eum, periculis appellantur et has. Eu vim tota movet nominavi.
            </p>
                Veri munere graece mea te. Illud harum argumentum pri ea, ad nam falli appareat, quo te choro integre. Est ei blandit cotidieque. Cu habemus voluptatibus vel, labore tincidunt reprimique cum in. Usu tibique pertinax consetetur ea.
            <p>
                No has ridens platonem praesent, duo ad aliquid adipiscing, no impedit percipit eum. Et denique expetenda inciderint sit. Ut percipit indoctum nam, pri ad maiorum assueverit, ei mucius numquam sit. Ea vix integre molestie reprimique, sea cu probo primis euripidis, per ne omnium nusquam splendide. No vix essent antiopam.
            </p>
        </div>
      </div>
    </div>
  </div>
</div>