<footer class="footer">
    <div class="container">
        <div class='row'>
            <div class='col-md-10' style='padding-left: 0px;'>
                <p class="text-muted">Desarrollado por PublícaME© 2015 | Todos los derechos reservados | Privacidad y condiciones </p>
            </div>
            <div class='col-md-2' style='padding-right: 0px;'>
                <p class="text-muted-social">
                    <i class="fa fa-facebook-square"></i>
                    <i class="fa fa-twitter-square"></i>
                </p>
            </div>
        </div>
    </div>
</footer>