<div class="modal fade" id="resetpwd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Restablecer la contraseña</h4>
      </div>
      <div align="center" class="modal-body">
        <p>
            <form action="" id="ResetPasswordForm" method="POST">
                <input type="email" required="required" class="form-control" placeholder="Correo electr&oacute;nico (Usuario)" name="email"/>
            </form>
			<div class="alert alert-danger" id="msgResetPassword" style="display:none"></div>
            <div class="btnReset">
                <input type="button" class="btn mtoplogin " value="Enviar" id="btnReset"/>
            </div>            
        </p>
      </div>
    </div>
  </div>
</div>