<div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">
    <ul class="nav nav-sidebar list-group">
        
        <span id="user">

            <div class="row">
                <div class="col-md-5">
                    <a href="#" class="thumbnail">
                      
                        <img class="my_bg" src="{{Core.Domains.theme}}images/ulisote.jpg"alt="...">
                    </a>
                </div>
                    
                    <div class="col-md-7">
                        SCRUM MASTER Ulisote
                    </div>
            </div>



        </span>

        <li class="active"><a href="#"><span id="push_left">Inbox</span> <span class=" counter push_right badge">42</span></a><li>
        <li><a href="#"><span id="push_left">Inbox</span> <span class="push_right badge counter">42</span></a></li>
        <li><a href="#"><span id="push_left">Inbox</span> <span class="push_right badge counter">42</span></a><li>
        <li><a href="#"><span id="push_left">Inbox</span> <span class="push_right badge  counter">42</span></a></li>
        <li><a href="#"><span id="push_left">Inbox</span> <span class="push_right badge  counter">42</span></a><li>
        <li><a href="#"><span id="push_left">Inbox</span> <span class="push_right badge  counter">42</span></a></li>
        <li><a href="#"><span id="push_left">Inbox</span> <span class="push_right badge counter">42</span></a><li>
        <li><a href="#"><span id="push_left">Inbox</span> <span class="push_right badge counter">42</span></a></li>

    </ul>



</div><!--/span-->