<div class="sidebar-offcanvas" id="sidebar" role="navigation">
    <ul class="nav nav-sidebar list-group">
        
        <span id="user">

            <div class="row">
                <div class="col-md-5">
                    <a href="#" class="thumbnail">
                      
                        <img class="my_bg" src="{{Core.Domains.theme}}images/ulisote.jpg"alt="...">
                    </a>
                </div>
                    
                    <div class="col-md-7">
                        SCRUM MASTER Ulisote
                    </div>
            </div>



        </span>
        <li class=" menuitem" id="usuarios"><a href="#" onclick="Comm.load('usuarios','0')"><span id="push_left">Usuarios</span> 
                <span class="push_right badge counter" id="user-notifications-number"></span></a></li>
        <li class=" menuitem" id="empresas"><a href="#" onclick="Comm.load('empresas','0')" ><span id="push_left">Empresas</span> 
                <span class="push_right badge counter">42</span></a><li>
        <li class=" menuitem" id="videos"><a href="#" onclick="Comm.load('videos','0')"><span id="push_left">Videos</span> 
                <span class="push_right badge  counter">42</span></a></li>
       
    </ul>



</div><!--/span-->