{# <?php ?> #}
{% extends 'default.twig' %}
{% block content %}
    <!-- start main area -->
    <section id="mainArea">
        <div class="container">
            <div class="row mtop2" id="vacancyDetail" vacancy-id="{{Data.id_vacancy}}"> 
                {{Data.detail|raw}}
            </div>
    </section>
	<input type="hidden" value="{{Data.external}}" id="external">
	{% if not Session._SDFGA_5739_AUKK_REFER_ %}
		{% include('modal_register.twig') %}
	{% endif %}
    {% include('logoslider.twig') %}

{{Data.Sidemenu1 | raw}}
{% endblock %}