{# <?php ?> #}
{% extends 'default.twig' %}
{% block content %}
    <!-- start main area -->
    <section id="mainArea">        
        <div class="container">
            <div class="section-title">
                ¿Qu&eacute; es?
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="mtop pobjetivos">SuperChamba.com es un programa que vincula a los j&oacute;venes de la Ciudad de M&eacute;xico que buscan emplearse, con la oferta de puestos de trabajo que ofrecen las empresas establecidas en el Distrito Federal y que participan en el programa.</p>
                </div>
            </div>
            <div class="row mtop">
                <div class="col-md-12 bbottom">
                    <a id="objetivos"><h4 class="pink">Objetivos:</h4></a>
                </div>
            </div>
            <div class="row mtop">
                <div class="col-md-6 mbottom">
                    <ul class="pobjetivos">
                        <li>
                            <div class="row">
                                <div class="col-md-1 colbullet">
                                    <i class="fa fa-circle bullet"></i>
                                </div>
                                <div class="col-md-11 listaobjetivos" style="margin:0; padding: 0; position:relative; left:-15px;">
                                    Ampliar la informaci&oacute;n sobre los perfiles laborales de la poblaci&oacute;n joven que busca empleo y los requerimientos espec&iacute;ficos de los empleadores con el fin de agilizar los procesos de vinculaci&oacute;n laboral en este segmento del mercado laboral.
                                </div>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div class="row">
                                <div class="col-md-1 colbullet">
                                    <i class="fa fa-circle bullet"></i>
                                </div>
                                <div class="col-md-11 listaobjetivos" style="margin:0; padding: 0; position:relative; left:-15px;">
                                    Contribuir a la obtenci&oacute;n de experiencia y competencias laborales en la poblaci&oacute;n juvenil que busca activamente empleo, mediante su vinculaci&oacute;n con las empresas y el otorgamiento de apoyos econ&oacute;micos para su manutenci&oacute;n, contribuyendo con ello a la ampliaci&oacute;n de alternativas de contrataci&oacute;n en el sector formal.
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 mbottom">
                    <ul class="pobjetivos">
                        <li>
                            <div class="row">
                                <div class="col-md-1 colbullet">
                                    <i class="fa fa-circle bullet"></i>
                                </div>
                                <div class="col-md-11 listaobjetivos" style="margin:0; padding: 0; position:relative; left:-15px;">
                                    Estimular los esfuerzos e iniciativas del sector empresarial de la Ciudad de M&eacute;xico para incorporar j&oacute;venes a su plantilla laboral, a partir del otorgamiento de apoyo econ&oacute;mico a las y los jóvenes que realicen la pr&aacute;ctica laboral previa a los procesos de contrataci&oacute;n.
                                </div>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div class="row">
                                <div class="col-md-1 colbullet">
                                    <i class="fa fa-circle bullet"></i>
                                </div>
                                <div class="col-md-11 listaobjetivos">
                                    Diversificar las alternativas de vinculaci&oacute;n de las y los j&oacute;venes buscadores de empleo con las oportunidades que generan las empresas de la Ciudad de M&eacute;xico.
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% include('logoslider.twig') %}
{% endblock %}