{% extends 'default.twig' %}
{% block content %}
    <!-- start main area -->
    <section id="mainArea">        
        <div class="container">
            <div class="section-title">
                Preguntas Frecuentes
            </div>
            <div class="row">
                <div class="col-sm-16 col-md-12">
                    <div class="content_full_size mtop"> 
                        <!-- ///////////////// Style 2 --->
                        <!-- DC [2 Columns] Start -->
                        <div class="one_half"> 
                            <!-- DC Toggle 1 Start -->
                            <div style="width:90%;" class="dc_toggle_container"> + <a rel="style1" class="toggleCollapse" href="#">Mostrar todas</a><br>
                                <br>
                                <div class="dc_toggle style1 dc_hide">
                                    <div><a class="dc_toggle_link" href="">¿En qu&eacute; consiste SuperChamba.com?</a></div>
                                    <div class="dc_toggle_box">SuperChamba.com es un programa que vincula a los Jóvenes de la Ciudad de México que buscan emplearse, con la oferta de puestos de trabajo que ofrecen las empresas establecidas en el Distrito Federal y que participan en el Programa SuperChamba.com</div>
                                </div>
                                <div class="dc_toggle style1 dc_hide">
                                    <div><a class="dc_toggle_link" href="">¿A qui&eacute;n va dirigido?</a></div>
                                    <div class="dc_toggle_box">A las y los jóvenes residentes en la Ciudad de México de  18 a 29 años que buscan un empleo formal y estable. Sin importar su nivel de instrucción.</div>
                                </div>
                                <div class="dc_toggle style1 dc_hide">
                                    <div><a class="dc_toggle_link" href="">Requisitos y Procedimientos de Acceso</a></div>
                                    <div class="dc_toggle_box">
                                        <ul>
                                            <li>Vivir en la Ciudad de México.</li>
                                            <li>Tener  de 18 a 29 años de edad.</li>
                                            <li>Encontrarse sin empleo en el momento de inscribirse al programa</li>
                                            <li>Estar buscando un empleo formal y remunerado.</li>
                                        </ul>
                                        <br/>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Presentar los siguientes documentos:<br/><br/>
                                        <ul>
                                            <li>CURP</li>
                                            <li>IFE</li>
                                            <li>Comprobante de domicilio</li>
                                            <li>Comprobante de estudios</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="dc_toggle style1 dc_hide">
                                    <div><a class="dc_toggle_link" href="">Apoyos que otorga:</a></div>
                                    <div class="dc_toggle_box">
                                        <ul>
                                            <li>Acceso a un sistema electrónico de vinculación laboral.
                                            <li>Aplicación de pruebas para determinar su perfil laboral y facilitar su enlace con las vacantes de trabajo que ofrecen las empresas participantes en el Programa SuperChamba.com</li>
                                            <li>Capacitación práctica laboral en empresas, por un periodo de un mes, con ayuda económica durante ese periodo.</li>
                                            <li>Entrega de la tarjeta Capital Social e inscripción en los servicios de salud del Gobierno de la Ciudad de México.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- DC Toggle 1 End --> 
                        </div>
                        <!-- END one_half -->
                        <div class="one_half column-last"> <br>
                            <br>
                            <!-- DC Toggle 1 Start -->
                            <div style="width:90%;" class="dc_toggle_container">
                                <!-- Segunda columna de preguntas -->
                            </div>
                            <!-- DC Toggle 1 End --> 
                        </div>
                        <!-- END one_half --> 
                        <!-- DC [2 Columns] End -->
                        <div class="dc_clear"></div>
                        <!-- line break/clear line --> 
                        <br>
                        <br>
                        <br>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include('logoslider.twig') %}
{% endblock %}