.calendar-day, .calendar-day-np{
    border: solid 1px #CCC;
    height: 42px;
    width: 43px;
}
.calendar-day:hover, .calendar-day-np:hover{
    background: #FEEFBF;
}
.calendar-day-np{
    background: #F5F5F5;
}

.calendar-today{
    border: 2px solid #ff0000 !important;
    height: 42px;
    left: 12px;
    margin: -21px !important;
    padding-top: 10px;
    position: relative;
    top: 12px;
    width: 43px;
}

.day-number {
    margin-top: 5px;
    position: relative;
    text-align: center;
}
.weekends{
    background: #AEAEAE;
    color: white;
}

.weekends:hover{
    background: #AEAEAE;
    color: white;
}

#calendar-wrapper{
    max-width: 400px;
}
#calendar-header{
    height: 94px;
    padding-top: 72px;
}
.calendar-today-text{
    font-size: 18px;
    position: relative;
    top: 18px;
    vertical-align: top;
}

.calendar-current-month, .calendar-current-year{
    font-size: 18px;
}
#agenda-wrapper{
    background: none repeat scroll 0 0 #fff;
    height: 342px;
    margin-left: 15px;
    margin-top: -20px;
    overflow-x:hidden;
    z-index: 10;
}
#agenda-header{
    left: 15px;
    position: relative;
    margin-bottom: 15px;
    padding-top:10px;
}
#slider-wrapper{
    top: -15px;
    z-index: 10;
}
#agenda-details{
    width: 370px;
    height: 150px;
    background: #FF0000;
    position: relative;
    display: block;
    top:-330px;
    z-index: 9;
}
.timeSlot-wrapper{
    display: inline-block;
    width: 100%;
}
.timeSlot{
    float: left;

}
.bg-timeSlot{
    border-top: solid 1px #D4D4D4;
    border-bottom: dotted 1px #EEEDED;
    display: block;
    float: right;
    height: 20px;
    position: relative;
    width: 100%;
}
.timeSlot-schedule{
    display: inline-block;
    width: 560px;
    height: 64px;
    background: #ECECEC;
    color: #666666;
    margin-left: 20px;
    padding: 3px 3px 3px 8px;
    border-radius: 0px;
    top: -14px;
    position: relative;
}

.data-candidate{
    float:left;
    max-width: 300px;
    margin:10px 0px 0px 0px;
}

.buttons{
    float:right;
    width: 260px;
}

.opciones{
    margin:10px 10px 0px 0px;
}

.inactive{
    background-color: #aeaeae;
    color:#e2e1de;
    border: solid 1px #aeaeae;
}

.inactive:hover{
    background-color: #aeaeae;
    color:#e2e1de;
    border: solid 1px #aeaeae;
}

.nspbutton{
    background-color: #ff0000;
    border:solid 1px #ff0000;
    color:#fff;
}

.nspbutton:hover{
    background-color: #d30101;
    border:solid 1px #d30101;
    color:#fff;
}

.nspbutton-aceptar{
    background-color: #0cbc4a;
    border:solid 1px #0cbc4a;
}

.nspbutton-aceptar:hover{
    background-color: #0c963c;
    border:solid 1px #0c963c;
}

/* .timeSlot-schedule:hover{
    background: #FEEFBF;
    border: dashed 2px #FFBB00;
    cursor: pointer;
    padding: 1px 3px 3px 6px;
} */

.cws-3{
    border-left: solid 10px #00b992;
}

.cws-4{
    border-left: solid 10px #ff4248;
}

.cws-5{
    border-left: solid 10px #00b2ce;
}

.cws-6{
    border-left: solid 10px #7a61ff;
}

.cws-7{
    border-left: solid 10px #e6c28c;
}

.cws-8{
    border-left: solid 10px #9c00a2;
}

.cws-9{
    border-left: solid 10px #2240ba;
}

.cws-10{
    border-left: solid 10px #007345;
}

.cws-11{
    border-left: solid 10px #a21200;
}

.cws-12{
    border-left: solid 10px #45cdff;
}

.cws-13{
    border-left: solid 10px #d3e700;
}

.cws-14{
    border-left: solid 10px #edb9ff;
}

.cws-15{
    border-left: solid 10px #ff1731;
}

.cws-16{
    border-left: solid 10px #00e75c;
}

.cws-17{
    border-left: solid 10px #b95700;
}

.cws-18{
    border-left: solid 10px #007700;
}

.cws-19{
    border-left: solid 10px #000092;
}

.cws-20{
    border-left: solid 10px #ff731e;
}

.cws-21{
    border-left: solid 10px #ff00ff;
}

.cws-22{
    border-left: solid 10px #00dee7;
}

.cws-23{
    border-left: solid 10px #fdff00;
}

.cws-24{
    border-left: solid 10px #ffc3a2;
}

.cws-25{
    border-left: solid 10px #ff73b7;
}

.cws-inactive{
    border-left: solid 10px #999;
}

.schedule-wrapper{
    position: relative;
    left: 46px;
}

.ts-title-inactive{
    color:#999;
}
.ts-text{
    font-size:12px;
    float:left;
}
.ts-text-inactive{
    color:#999;
}
.cal-prev-month{
    position: relative;
    top:-14px;
    cursor: pointer;
    font-size: 20px;
}
.cal-next-month{
    position: relative;
    top:-14px;
    left:23px;
    cursor: pointer;
    font-size: 20px;
}
.cal-today{
    position: relative;
    font-size:24px;
}
.cal-label-today {
    bottom: 3px;
    color: #ffffff !important;
    display: inline-block;
    position: relative;
    top:-18px;
    left:12px;
    width: 64px;
    height:30px;
    background-color:#FFFFFF;
    padding-top:6px;
}


#tabRight {
    width:50px;
    height:100px;
    position:fixed;
    right:0px;
    top:100px;
    display:block;
    cursor:pointer;
    background-color:#3c80a2;
    color: #fff;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-bottomleft: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0 0 5px #000;
    font-size: 25px;
    padding-top: 40px;
}
#panelRight {
    background-color: #fff;
    border-bottom-left-radius: 15px;

    height: 343px;
    position: absolute;
    right: 15px;
    top: 90px;
    width: 0;
    z-index: 666666;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -moz-border-radius-bottomleft: 15px;
}
#panelRight .contentRight {
    width:290px;
    margin-left:20px;
    display: none;
    color: #fff;
}
.showPanelContents, .showPanelContents p{
    color: #ffffff;
}

#candidate-no-show-notification{
    width: 98%;
    margin: auto;
}

.optionsbtn{
    margin:0 0 0 155px;
    width:200px;
    padding-top: 35px;
}

.btnacciones:hover{
    background-color: #FBAA00;
    transition: .5s;
}
.btnacciones-aceptar{
    width:275px;
    height:40px;
    background-color: #0cbc4a;
    border-radius:4px;
    border:none;
    margin-bottom:10px;
    float:left;
    font-size:16px;
}

.btnacciones-aceptar:hover{
    background-color: #0c963c;
    transition: .5s;
}
.fa-check-square-o{
    color:#00f434;
    cursor: pointer;
}
.fa-check-square-o:hover{
    color:#FFF;
    cursor: pointer;
}
.close{
    color:#333;
    margin:8px 5px 0 0px;
}
.pmargin{
    margin-bottom: 5px;
}
.fieldmargin{
    margin-top: -6px;
}
.tabs{    
    background-color: #929292;
    width:575px;
    position:relative;
    left:22px;
    height: 300px;
    overflow-y: auto;
}
.fileinput-button{
    width:100px;
    height:30px;
    background-color: #0389D2;
    padding-left: 30px;
    padding-top: 2px;
    border-radius:4px;
    border:none;
    font-size:16px;
    margin:auto;
    cursor: pointer;
	padding: 4px;
}
.fileinput-button:hover{
    background-color: #0068a0;
    transition: .5s;
}

.fileinput-button.disabled{
    background-color: #888888;
    color: #666666;
    opacity: 1;    
}

.btnver{
    width:100px;
    height:30px;
    background-color: #00b992;
    padding-left: 36px;
    padding-top: 2px;
    border-radius:4px;
    border:none;
    font-size:16px;
    margin:auto;   
}
.btnver:hover{
    background-color: #028e70;
    transition: .5s;
    cursor: pointer;
}
.btnver.disabled{
    width:100px;
    height:30px;
    background-color: #888888;
    padding-left: 36px;
    padding-top: 2px;
    border-radius:4px;
    border:none;
    font-size:16px;
    margin:auto;
    color:#666666;
	cursor:auto;
}

.candidatesaddress{
    color:#fff;
}
#tr:hover{
    background-color: #CCC;
}
.checkinactivo{
    color:#666;
}
.examplecheck{
    color:#00f434;
}
.btnnodeco{
    background: transparent;
    border:none;
}
.btnnodeco:hover{
    color:#00f434;
}
.thcenter{
    margin:auto;
}
.btnexamen{
    background-color: #0cbc4a;
    border: 1px solid #0cbc4a;
    color: #fff;
    margin-top: 5px !important;
    width: 198px;
}
.btnexamen:hover{
    background-color: #0c963c;
    border: solid 1px #0c963c;
    transition: .3s;
    cursor: pointer;
}
.btnexamen.disabled, .btnexamen.disabled:hover{
    background-color: #aeaeae;
    border: solid 1px #aeaeae;
    cursor: auto;
    color:#666;
}
.tab-agenda{ border-top: none; margin-top: 0px;}

.document-check{
	cursor:pointer;
}

.popover-content{
	color:#333;
}

.document-check{
	color:#00f434;
}

.document-check:hover{
	color:#FFF;
}

.msgUpload{
	color: #00f434;
    display: block;
    font-size: 12px;
    left: 283px;
    position: relative;
}

.withExam{
	background-color: #0cbc4a !important;
    color: #fff !important;
    width: auto !important;
}

.options-documents{
	margin-top:-20px;
        margin-right:-38px;
}

.select-options,
.select-options:hover,
.select-options:focus
{
    color: #333;
    height: 35px;
    margin-top: 5px;
    text-align: left;
    width: 210px;
}

.select-options .caret{
	float: right;
    margin-top: -12px;
    position: relative;
	border-bottom: 4px solid;
	border-top:none;	
}

.options-documents .dropdown-menu{
	top:auto;
	bottom:90%;	
}

div.schedule-wrapper.disabled .ts-title,
div.schedule-wrapper.disabled .ts-text
{
	color:#999999;	
}

div.schedule-wrapper.disabled .timeSlot-schedule.cws-1{
	border-color:#999999;
}

div.schedule-wrapper.disabled .btn.opciones{
	background-color: #aeaeae !important;
    border: 1px solid #aeaeae !important;
    color: #e2e1de !important;
}

.box{
    width: 200px;
    height: 180px;
    display:inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 14px;
}

.box:hover{
    cursor: pointer;
}

.front-flip{
    border: 1px solid #999;
}

.front-flip:hover{
    background-color: #ebebeb;
}

.back-flip{
    border: 1px solid #999;
}



.calendar-day-day{
    font-size: 66px;
    font-weight: bold;
    margin-top: 48px;
}

.calendar-day-dayofweek{
    font-size: 20px;
    margin-top: 26px;
}



.calendar-day-clickable{
    width: 198px;
    height: 42px;
}

#calendar-day-warning{
    display: none;
    margin-bottom: 0px;
    margin-top: 20px;
}

#calendar-day-modal{
    margin-top: 0px;
    margin-bottom: 0px;
}

#calendar-day-confirmation-btn{
    display: none;
}

#calendar-day-final-schedule{
    width: 480px;
    margin-left: -155px;
}

#notes textarea,
#notes{
    color: #666;
}

#container_notes_items {    
    height: 168px;
    overflow: auto;
    background-color: #FFF;
}

#notesList #note_by{
    width: 20%;
}

#notesList #note_txt{
    width: 60%;         
}

#notesList #note_created{
    width: 20%;
}

#notes-full-profile,
#notes{
    margin: -15px -30px 0;
}

.table-head-notes{
    padding-top: 5px; 
}

.table-notes{
    padding-left: 11px;
    padding-right: 11px;
}

.document_date,
.document_name{
    color: #333;
}

.document_name{
    width: 60%
}

.list_documents{    
    height: 195px;
    overflow: auto;
    background-color: #FFF;
}

#documentos{
    margin: -10px -4px;
}

.document_form {
    margin: -15px -30px 10px -15px;
}