{# <?php ?> #}
{% extends 'default.twig' %}
{% block content %}
<!-- start main area -->
<section id="mainArea">
    <div class="container">
        <div class="section-title">
                Sitio de inter&eacute;s
        </div>
    </div>
</section>
<!-- end main area -->
{% include('logoslider.twig') %}
{% endblock %}