	
<div class="nocandidates"> <i class="fa fa-info-circle fa-3x"></i><br/><div class="txtgris">No hay candidatos para mostrar<div><br/>
{% if Data.type=='talentDatabase' %}
    <span class='delete-filters' onclick='delAll()'><i class="fa fa-reply"></i> Ver todos</span>
{% endif %}
</div>
