<div id="container_notes_items">
<table class="table table-striped" id="notesList">
	<tbody>
	{% for item in Data.notes %}	
		<tr>
			<td id="note_by">{{item.name}}</td>
			<td id="note_txt">{{item.note}}</td>
			<td id="note_created">{{item.created|date("d/m/Y")}}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
</div>