#snake-graph {
    background-position: 171px 68px;
    background-size: 260px 329px;
}
.snake-graph{
    background-position: 192px 46px;
    background-size: 219px 373px;
}

.adjusting-radio{margin-top: 9px !important;}
.label-filter-template2{margin-top: -12px;}
