<div id='categories'>
    <div class='category'>
        <i class="fa fa-cutlery"></i>
        <span class='category-name'>Alimentación</span>
        <div class='subcategories'></div>
    </div>
    <div class='category'>
        <i class="fa fa-building"></i>
        <span class='category-name'>Hospedaje</span>
        <div class='subcategories'></div>
    </div>
    <div class='category'>
        <i class="fa fa-car"></i>
        <span class='category-name'>Automóviles</span>
        <div class='subcategories'></div>
    </div>
    <div class='category'>
        <i class="fa fa-heart"></i>
        <span class='category-name'>Belleza y cuidado personal</span>
        <div class='subcategories'></div>
    </div>
    <div class='category'>
        <i class="fa fa-futbol-o"></i>
        <span class='category-name'>Deportes</span>
        <div class='subcategories'></div>
    </div>
    <div class='category'>
        <i class="fa fa-graduation-cap"></i>
        <span class='category-name'>Educación y cultura</span>
        <div class='subcategories'></div>
    </div>
    <div class='category'>
        <i class="fa fa-smile-o"></i>
        <span class='category-name'>Entretenimiento</span>
        <div class='subcategories'></div>
    </div>
    <div class='category'>
        <i class="fa fa-usd"></i>
        <span class='category-name'>Finanzas y bienes raíces</span>
        <div class='subcategories'></div>
    </div>
    <div class='category'>
        <i class="fa fa-home"></i>
        <span class='category-name'>Hogar</span>
        <div class='subcategories'></div>
    </div>
    <div class='category'>
        <i class="fa fa-medkit"></i>
        <span class='category-name'>Salud</span>
        <div class='subcategories'></div>
    </div>
    <div class='category'>
        <i class="fa fa-desktop"></i>
        <span class='category-name'>Tecnología</span>
        <div class='subcategories'></div>
    </div>
    <div class='category'>
        <i class="fa fa-plane"></i>
        <span class='category-name'>Viajes y transporte</span>
        <div class='subcategories'></div>
    </div>
</div>
