<div style="width: 100%; background-color: #ff7900;">
    <div class="row">
        <div class="col-sm-10">
            <h3>
                <i class="fa fa-filter"></i> Filtrar
            </h3>
        </div>
        <div class="col-sm-2">
            <div onclick="_Sidemenu.toggle('menu1');" id="menu-filters-filters">
                <i class="fa fa-angle-right back-icon"></i>
            </div>
        </div>
    </div>
</div>
<div style="width: 90%; margin:auto;">
    <br/>
    <span style=" font-size: 14px; color:#fff; padding-left:0; padding-bottom:5px; margin-top:15px;" href="#">Palabra clave:</span>
    <input class="inputlogin" placeholder="Ejemplo: Ejecutivo de ventas"/>
    <br/>
    <span style=" font-size: 14px; color:#fff; padding-left:0; padding-bottom:5px; margin-top:15px;" href="#">&Aacute;rea:</span>
    <input class="inputlogin" placeholder="P. ej. Ventas"/>
    <br/>
    <span style=" font-size: 14px; color:#fff; padding-left:0; padding-bottom:5px; margin-top:15px;" href="#">Fecha de publicaci&oacute;n:</span>
    <select class="inputlogin">
        <option>Hoy</option>
        <option>Ayer</option>
        <option>La semana pasada</option>
    </select>
    <div class="btn-orange-side mtop" onclick="_Sidemenu.toggle('menu1');">
        Buscar
    </div>
</div>