#tab{
	margin:0 auto;
}
#candidate-tabs{
	width:100%;
}
#contactForm {
	margin:15px 30px;
}
#contactForm input,
#contactForm select,
#contactForm textarea{
	margin:5px 0;
}

.active-list,
#messagePool {
    border-left-color: #ff7900 !important;
}

.avb-background {
    background: #ff7900 !important;
}

#candidates_lists .pagination{
	margin:0;
}

#candidates_lists .panel-footer a.active{
	background-color:#006b78 !important;	
}

#candidates_lists .panel-footer a:hover{
	background-color:#00506c !important;	
}

#candidates_lists .panel-footer span.number_records{
	display: block;
    margin: 5px 0;	
}

#candidates_lists .panel-footer div.col-md-9{
	text-align:right;	
}

#candidates_lists div.panel-body{
	padding:0;		
}

#candidatesList_pagination{
	display:none;
}

#candidates_lists table{
	margin-bottom:0;
}

.candidate_actions{
	margin:5px 3px;
}



hr{
	border-color: #666;
    margin: 10px 0 20px;
}


.head-panel{
    background-color: #A3A3A3 !important;
    color: white !important;
}

#candidate-search{
    height: 30px;
    width: 300px;
	padding:6px 12px;
}

#candidate-filters:hover{
    color: #00506c;
}

.right-oriented{
    text-align: right;
}

.left-oriented{
    text-align: left;
}

#filter-container{
    display: none;
    position: absolute;
    right: 15px;
    top: 25px;
    z-index: 100;
    width: 470px;    
    background-color: #E6E5E5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0px 10px 11px 0px rgba(175, 175, 175, 0.69);
    -moz-box-shadow: 0px 10px 11px 0px rgba(175, 175, 175, 0.69);
    -webkit-box-shadow: 0px 10px 11px 0px rgba(175, 175, 175, 0.69);
}

#filter-container .label-form-filter{
    text-align: right !important;
    color: black;
    padding: 0px;
    margin: 0px;
    padding-top: 3px;
    margin-left: 0px;
    line-height: 40px;
    height: 40px;
}

#filter-container .input-form-filter{
    padding: 0px;
    margin: 0px;
    margin-left: 10px;
    height: 40px;
}

#line-inside{
    background-color: #666;
    height: 1px;
    margin-top: 12px;
    width: 100%;
}



.btn-inside-filter:focus{
    background-color: #0389d2;
    color:white;
    border-color: #0389d2;
}

.check-inside-filter{
    margin-right: 10px !important;
    float: right;
    height: 23px;
    line-height: 23px;
    text-align: left;
    color: #666;
    font-size: 14px;
    font-weight: bold;
}

.check-inside-filter:hover{
    cursor: pointer;
    color: black;
}

#name-filter{
    width: 205px;
    float:right;
    height: 28px;
    margin-top: 8px;
    display: none;
    margin-right: 8px;
}

.input-filter-general{
    height: 30px;
    margin-top: 7px;
    float: left;
}

.input-filter-number{
    width: 30px;
    padding: 3px;
}

.label-filter-template{
    color:#666;
    float: left;
    margin-right: 5px;
    margin-left: 5px;
    line-height: 45px;
}
.label-filter-template2{
    color:#666;
    float: left;
    margin-right: 0px;
    margin-left: 0px;
    line-height: 45px;
    margin-top: -10px;
    height: 20px;
}

.label-filter-template2:hover{
    cursor: pointer;
}

.adjusting-radio{
    margin-top: 15px !important;
}

.tableminheight{
    min-height: 370px;
}

.filter-tags{
    text-align: right;
    margin-bottom: 5px;
}

.filter-tag{
    margin-right: 4px;
    margin-top: 3px;
    float:right;
    line-height: 12px !important;
}

.tag-edad1{ background-color: blue; }
.tag-edad2{ background-color: blue; }
.tag-genero{ background-color: orange; }
.tag-delegacion{ background-color: green; }
.tag-licencia{ background-color: #66512c; }
.tag-concluidos{ background-color: #6666aa; }

.tag-hijos{ background-color: pink; }
.tag-estado{background-color:#00b992;}
.tag-turno{background-color:#ff4248;}
.tag-perfil1{background-color:#e6c28c;}
.tag-perfil2{background-color:#9c00a2;}
.tag-perfil3{background-color:#2240ba;}
.tag-perfil4{background-color:#007345;}

.close-tag:hover{
    color: #A3A3A3;
    cursor: pointer;
}
.cancel-modal{
    background-color: #ff7900;
    border: solid 1px #ff7900;
    border-bottom: solid 4px #ff6400;
}

.cancel-modal:hover{
    background-color: #ff6400;
    border: solid 1px #ff6400;
    border-bottom: solid 4px #ff6400;
}

.modal-label{
    color: #000;
    display: inline-block;
    margin-left: 0;
    position: relative;
    top: 5px;
    vertical-align: top;
    width: 210px;
}



.delete-filters:hover{
    cursor:pointer;
    font-weight: bold;
}

.tab-title,
.row.header-title {
    color: #fff;
    font-size: 22px;
    height: 31px;
    text-shadow: 1px 1px #666;
}

#talent_database .popover{
	max-width:none;
}

.profiling_graph{
	min-height:100px;	
}

#closePopover{
    cursor: pointer;
    float: right;
    padding: 3px 10px;
}

#ProfilingGraph{
    width: 560px;
}

.Editor-container #contentarea{
	border-left: 1px solid #666;
	border-right: 1px solid #666;
}

.Editor-container #statusbar,
.Editor-container #menuBarDiv{
	border: 1px solid #666;	
}

.Editor-container #menuBarDiv .btn {
	background-color: #fff;
    border: 1px solid #999;
    border-radius: 2px;
    color: #666;
    height: 25px;
}

#google_map{
	height: 280px; 
	margin:10px 0 0;
	border:1px solid #E0E0E0;
}

label span.required{
	color: red;
	font-weight:bold;
	padding: 0 2px;
}

#updateGoogleMap{
	width:100%;
	margin-bottom:10px;
}

#logo_google_maps{
	position: relative;
	top:30px;
}

#vacancyForm div.alert-warning{
	margin: 0;
}

#markerOkBtn span.alert-danger{
	display:none;
}

#errorNoMap{
	width:100% !important;
	margin:0 !important;
}

#markerOkBtn label{
	color:#fff;
	margin:0 5px;
	text-align: left;
	line-height:inherit;
}

#markerOkBtn {
    border-bottom: 3px solid #7ca732;
    height: 25px;
    margin: 5px 0;
    padding: 0;
    width: 100%;
}

.position-name{
	cursor:pointer;
}

#tab .vacancy-detail{
	padding:0 10px;
}

#google_map_detail{
	width:100%;
	height:280px;	
}

#border_google_map_detail{
	width:290px;
	height:290px;
	margin: 15px 0;
}

#requirements li{
	padding: 0 2px;
}

#candidates_lists{
	margin-top:12px;
}

#deleteUserForm label,
#teamManager label{
	color: #333;
	margin:0;
}

#list-team-users .rec-picture{
	width:50px;	
}

#msgAddUsers,
#addUser{
	margin: 10px 0;
}

.team-users-number {
    font-size: 20px;
    padding: 4px 25px;
}

.team-users-number span{
  font-weight: bold;
  font-size: 25px;
}

#list-team-users .actions{
	width:130px;
}

#teamManager{
	padding:15px;
}

#teamManager label .alert-danger{
	margin: 0 10px;
    padding: 2px 5px;	
}

#teamManager .form{
	height:320px;
}

#response-saveUser {
    display: block;
    padding: 5px 15px;
    width: 100%;
}

#teamManager .fa-user{
	color: #999;
    font-size: 120px;    
    margin: 15px 5px;
}

#teamManager .fa-plus{
	color: #999;
    font-size: 60px;
    margin: 0 5px 0 30px;       
}

#btnDeleteUser{
	background-color:#ff0000;
	border-color:#B90000;
}

#btnDeleteUser:hover{
	background-color:#B90000;
}