{# <?php ?> #}
{% extends 'default.twig' %}
{% block content %}
    
<!-- start main area -->
<section id="mainArea">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 exito">
                <i class="fa fa-check-circle fa-3x"></i>
                <h2 class="txtgris">Su registro ha sido exitoso.</h2>
                <h6 class="txtgris">En un periodo no mayor a 48 hrs. nos comunicaremos con usted v&iacute;a correo electr&oacute;nico para continuar con su proceso.</h6>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</section>
<!-- end main area -->
{% endblock %}