{% extends 'default.twig' %}
{% block content %}
    <section id="mainArea">
        <div class="container">
            <div class="section-title">Administrar b&uacute;squedas</div>
            {{ Data.ModuleFilters.Admin | raw }}
        </div>
    </section>
{% endblock %}