
<!-- Modal -->
<div class="modal fade" id="myModalBlock" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Bloquear Videos</h4>
            </div>
            <div class="modal-body">
                <h5>¿Estas seguro que deseas bloquear los siguientes videos?</h5>
                <div class="listtodelete">
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" onclick="Comm.delvideo(2)" class="okdelete btn btn-primary">Bloquear</button>
            </div>
        </div>
    </div>
</div>