
<!-- Modal -->
<div class="modal fade" id="genericmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                
                
                
                <h4 class="modal-title" id="modallabel">Eliminar Usuarios</h4>
            </div>
            <div class="modal-body">
                <p>
               <p/>
                <h5 id="modalmessage"></h5>
                <div class="modallist">                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" onclick="Change.makechange();" class="modalsend btn btn-primary">Continuar</button>
            </div>
        </div>
    </div>
</div>