<div id="mybanner"class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">¡Advertencia! Eliminar un usuario provocara la eliminacion de su empresa y videos</span></button>
    <span id="bannermessage"></span>
</div>