<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        Filtrar <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a  onclick="SelectAll.categoria('0');">Sin Filtro</a></li>
        <li><a  onclick="SelectAll.categoria('1');">Expirados</a></li>
        <li><a  onclick="SelectAll.categoria('2');">Proximos a vencer</a></li>
        <li><a  onclick="SelectAll.categoria('3');">Recientemente Conectados</a></li>
    </ul>
</div>
