<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    Filtrar <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
      <li><a  onclick="Comm.changecategory('0')" href="#">Sin Filtro</a></li>
    <li><a href="#" onclick="Comm.changecategory('1')">Expirados</a></li>
    <li><a href="#" onclick="Comm.changecategory('2')">Proximos a vencer</a></li>
    <li><a href="#" onclick="Comm.changecategory('3')">Recientemente Conectados</a></li>
  </ul>
</div>
            