<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    Filtrar <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
      <li><a  onclick="Comm.changecategory('0')" href="#">Mas Vistos</a></li>
    <li><a href="#" onclick="Comm.changecategory('1')">Inactivos</a></li>
    <li><a href="#" onclick="Comm.changecategory('2')">Recientes</a></li>
    <li><a href="#" onclick="Comm.changecategory('3')">Esperando Confirmacion</a></li>
  </ul>
</div>
            