<nav >
  <ul class="pagination">
    <li>
      <a href="#" class="masicono" onclick="Comm.changepage('menos');" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>

    <li><a class="numpage"  href="#"></a></li>
    <li>
      <a href="#" class="menosicono" onclick="Comm.changepage('mas');" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>