<nav >
  <ul class="pagination">
    <li>
      <a href="#" class="masicono" onclick="SelectAll.changepage('-');" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>

    <li><a class="numpage"  href="#"></a></li>
    <li>
        <a href="#" class="menosicono" onclick="SelectAll.changepage('+');" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>