{% extends 'default.twig' %}
{% block content %}
	<!-- start main area -->
    <section id="mainArea">
        <div id="section-title">
            Reporte de Participantes
        </div>
		<!-- start account area -->
		<section class="accountArea">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
					
						<h1>{CONTENT}</h1>
						<br/><br/><br/><br/><br/>
						
					</div>
				</div>
			</div>
		</section>
		<!-- end account area -->		
	</section>
	<!-- end main area -->
{% endblock %}