{% extends 'default.twig' %}
{% block content %}
	<!-- start main area -->
    <section id="mainArea">
        <div id="section-title">
            Tablero de Control
        </div>
        <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Posición</th>
                                            <th>Área</th>
                                            <th>Candidatos</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in Data.searches %}
                                        <tr>
                                            <td>{{item.name}}</td>
                                            <td>---</td>
                                            <td>---</td>
                                            <td>---</td>
                                        </tr>
                                        {% endfor %}                                        
                                    </tbody>
                                </table>
                            </div>
                    </div>
                </div>
        </div>		
    </section>
	<!-- end main area -->
{% endblock %}