{% extends 'default.twig' %}
{% block content %}
	<!-- start main area -->
    <section id="mainArea">
        <div id="section-title">
            Empleos
        </div>
		<!-- start main area -->
		<section class="mainArea">
			<div class="container">
				<div class="row">
					<div class="col-md-12 mrgnbottom">
                                            <h3 class="h3">{Instrucciones o algo así}</h3>
                                            <div class="row">
                                                <div class="col-md-6 tr-border-top">
                                                    <br/><br/>
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <h4>1. Piloto Aviador</h4>
                                                                        <h5>Cuauhtémoc, C.P. 06700, México, D.F.</h5>
                                                                        <p>Esta es una breve descripción de la vacante. Tan breve, que ya terminó. Esta es una breve descripción de la vacante. Tan breve, que ya terminó. Esta es una breve descripción de la vacante. Tan breve, que ya terminó.</p>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <h4>2. Robot</h4>
                                                                        <h5>Cuauhtémoc, C.P. 06700, México, D.F.</h5>
                                                                        <p>Esta es una breve descripción de la vacante. Tan breve, que ya terminó. Esta es una breve descripción de la vacante. Tan breve, que ya terminó. Esta es una breve descripción de la vacante. Tan breve, que ya terminó.</p>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <h4>3. Probador de pelucas</h4>
                                                                        <h5>Cuauhtémoc, C.P. 06700, México, D.F.</h5>
                                                                        <p>Esta es una breve descripción de la vacante. Tan breve, que ya terminó. Esta es una breve descripción de la vacante. Tan breve, que ya terminó. Esta es una breve descripción de la vacante. Tan breve, que ya terminó.</p>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <h4>4. Rotulista</h4>
                                                                        <h5>Cuauhtémoc, C.P. 06700, México, D.F.</h5>
                                                                        <p>Esta es una breve descripción de la vacante. Tan breve, que ya terminó. Esta es una breve descripción de la vacante. Tan breve, que ya terminó. Esta es una breve descripción de la vacante. Tan breve, que ya terminó.</p>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="col-md-1 tr-border-top">
                                                </div>
                                                <div class="col-md-5 tr-border-top">
                                                    <br/><br/>
                                                    <h2>Piloto Aviador</h2>
                                                    <p>Aquí se puede leer la descripción completa de cada posición.</p>
                                                    <p>
                                                        Lorem ipsum dolor sit amet, novum ocurreret at per. Ea ius scripta oportere. Eum ei mazim verterem corrumpit. Vix augue putent malorum id. Ignota doming expetendis ex mel, id eos melius molestie, in brute verterem sed. An oratio sanctus eum.
                                                    </p>
                                                    <br/>
                                                    <h5>Localidad:</h5>
                                                    <p>Cuauhtémoc</p>
                                                    <br/>
                                                    <h5>Habilidades:</h5>
                                                    <p>Saber volar un avión. Sin manos.</p>
                                                    <br/>
                                                    <h5>Edad:</h5>
                                                    <p>Entre 18 y 24 años.</p>
                                                    <br/>
                                                    <a class="btn" href="#">Aplicar a este empleo</a>
                                                </div>
                                            </div>
					</div>
				</div>
			</div>
		</section>
		<!-- end main area -->		
	</section>
	<!-- end main area -->
{% endblock %}