.box{
    width: 200px;
    height: 180px;
    display:inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.box:hover{
    cursor: pointer;
}

.front-flip{
    border: 1px solid #999;
}

.front-flip:hover{
    background-color: #ebebeb;
}

.back-flip{
    border: 1px solid #999;
}

.back-flip select{
    width:150px;
    height:36px;
    border: solid 1px #aeaeae;
    border-radius: 0 !important;
    font-size:18px;
    text-align: center;
    color:#e6378c;
}

.calendar-day-month{
    background-color: #e6378C;
    color: white;
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
}

.calendar-day-day{
    font-size: 66px;
    font-weight: bold;
    margin-top: 48px;
}

.calendar-day-dayofweek{
    font-size: 20px;
    margin-top: 26px;
}

.calendar-day-header{
    background-color: #e6378C;
    color:white;
    font-size: 16px;
    line-height: 40px;
}

.calendar-day-clickable{
    width: 198px;
    height: 42px;
}

#calendar-day-warning{
    display: none;
    margin-bottom: 0px;
    margin-top: 20px;
}
